In [1]:
%cd /home/adityasidharta/git/saltedge_python

/home/adityasidharta/git/saltedge_python

In [2]:
import pandas as pd
import os

import fire
import pandas as pd

from src.utils.directory import RAW_PATH

In [3]:
pd.options.display.max_rows = 100

In [4]:
def get_accounts(year, month):
    accounts = []
    for filename in os.listdir(RAW_PATH):
        if filename.endswith("_{}_{}.csv".format(year, month)):
            index = filename.index("_{}_{}.csv".format(year, month))
            account = filename[:index].split(' ')[0]
            accounts.append(account)
    return accounts

In [5]:
get_accounts(2019, 9)

['406-02088-6', '421-48697-2', '120-192381-9']

In [6]:
pd.options.display.max_columns = 200
pd.options.display.max_rows = 200

In [7]:
year = 2019
month = 9

list_df = []
for filename in os.listdir(RAW_PATH):
    if filename.endswith("_{}_{}.csv".format(year, month)):
        list_df.append(pd.read_csv(os.path.join(RAW_PATH, filename)))
full_df = pd.concat(list_df, axis=0, ignore_index=True)

In [8]:
full_df = full_df[full_df['duplicated'] == False].copy()

In [9]:
full_df.groupby('category')['amount'].sum()

category
auto_and_transport       -170.00
business_services         100.00
cafes_and_restaurants     -33.40
car_rental                -81.19
entertainment             -38.59
fees_and_charges          -44.15
food_and_dining           -10.00
groceries                 -14.60
home_supplies             -43.70
income                   1612.89
phone                     -78.99
public_transportation     -41.00
service_fee                 9.00
shopping                 -761.65
taxi                      -37.49
television                -16.98
transfer                -6671.22
transportation            -86.18
uncategorized             -38.84
Name: amount, dtype: float64

In [15]:
full_df[full_df.type == 'AWL']

,index,id,account_id,duplicated,mode,status,made_on,amount,currency_code,description,category,type,account_balance_snapshot,created_at,updated_at
7,58,1801236334,9347260,False,normal,posted,2019-09-02,-700.0,SGD,"39343836,BRAS BASAH",shopping,AWL,1058.82,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z

In [13]:
full_df[['id', 'account_id', 'made_on', 'amount', 'description', 'category', 'type']].sort_values('amount', ascending = False)

,id,account_id,made_on,amount,description,category,type
39,1801236518,9347260,2019-09-21,700.00,"39343836,CLEMENTI BR",income,CAM
31,1801236486,9347260,2019-09-11,492.29,120-192381-9 : I-BANK,income,ITR
29,1801236478,9347260,2019-09-10,409.96,120-192381-9 : I-BANK,income,ITR
38,1801236514,9347260,2019-09-20,289.35,PAYPAL *OSTAY 40 29 18SEP 4628-****-****-3836,fees_and_charges,MST
24,1801236458,9347260,2019-09-07,100.00,120-192381-9 : I-BANK,business_services,ITR
47,1801236550,9347260,2019-09-24,15.80,DBS VISA DEBIT 3% CASHBAC K 19SEP 4628-****-**...,transfer,MST
57,1801236762,9347264,2019-09-07,10.59,Interest Earned,income,INT
9,1801236342,9347260,2019-09-03,10.06,Shopee - Singapore SI NG 30AUG 4628-****-****-...,shopping,MST
8,1801236338,9347260,2019-09-02,9.00,Standing Instruction,service_fee,SI
55,1801236582,9347260,2019-09-30,0.03,Interest Earned,income,INT
64,1801236790,9347264,2019-09-30,0.02,Interest Earned,income,ATINT
28,1801236474,9347260,2019-09-08,-1.03,BUS/MRT 10549821 SI NG 03SEP 4628-****-****-3836,public_transportation,MST
49,1801236558,9347260,2019-09-25,-1.96,BUS/MRT 12079256 SI NG 20SEP 4628-****-****-3836,public_transportation,MST
3,1801236318,9347260,2019-09-01,-2.51,BUS/MRT 9943798 SI NG 27AUG 4628-****-****-3836,public_transportation,MST
51,1801236566,9347260,2019-09-27,-2.58,BUS/MRT 12245946 SI NG 22SEP 4628-****-****-3836,public_transportation,MST
53,1801236574,9347260,2019-09-28,-2.68,BUS/MRT 12357321 SI NG 23SEP 4628-****-****-3836,public_transportation,MST
54,1801236578,9347260,2019-09-29,-2.68,BUS/MRT 12421472 SI NG 24SEP 4628-****-****-3836,public_transportation,MST
5,1801236326,9347260,2019-09-01,-2.70,BUS/MRT 9870536 SI NG 26AUG 4628-****-****-3836,public_transportation,MST
20,1801236442,9347260,2019-09-05,-2.86,BUS/MRT 10348536 SI NG 31AUG 4628-****-****-3836,public_transportation,MST
23,1801236454,9347260,2019-09-06,-2.90,BUS/MRT 10384165 SI NG 01SEP 4628-****-****-3836,public_transportation,MST
41,1801236526,9347260,2019-09-24,-3.00,Q ORANGE SI NG 22SEP 4628-****-****-3836,phone,MST
0,1801236306,9347260,2019-09-01,-3.00,CIRCLES.LIFE SI NG 31AUG 4628-****-****-3836,phone,MST
50,1801236562,9347260,2019-09-26,-3.05,BUS/MRT 12199032 SI NG 21SEP 4628-****-****-3836,public_transportation,MST
46,1801236546,9347260,2019-09-24,-3.60,MCDONALD'S (CL3) SI NG 21SEP 4628-****-****-3836,cafes_and_restaurants,MST
36,1801236506,9347260,2019-09-14,-3.61,PAYPAL *OLAAUSTRALI 40 29 12SEP 4628-****-****...,fees_and_charges,MST
15,1801236422,9347260,2019-09-04,-3.69,BUS/MRT 10228509 SI NG 30AUG 4628-****-****-3836,public_transportation,MST
18,1801236434,9347260,2019-09-05,-3.70,MCDONALD'S (NBR) SI NG 02SEP 4628-****-****-3836,cafes_and_restaurants,MST
11,1801236350,9347260,2019-09-03,-3.71,BUS/MRT 10020122 SI NG 28AUG 4628-****-****-3836,public_transportation,MST
27,1801236470,9347260,2019-09-07,-3.82,BUS/MRT 10489340 SI NG 02SEP 4628-****-****-3836,public_transportation,MST
16,1801236426,9347260,2019-09-04,-4.83,BUS/MRT 10134958 SI NG 29AUG 4628-****-****-3836,public_transportation,MST
32,1801236490,9347260,2019-09-13,-6.56,PAYPAL *OLAAUSTRALI 40 29 11SEP 4628-****-****...,fees_and_charges,MST
12,1801236354,9347260,2019-09-03,-7.15,KFC TB 520 SI NG 02SEP 4628-****-****-3836,cafes_and_restaurants,MST
34,1801236498,9347260,2019-09-14,-7.34,PAYPAL *OLAAUSTRALI 40 29 12SEP 4628-****-****...,fees_and_charges,MST
59,1801236770,9347264,2019-09-10,-8.65,UMC-S TRANSPORTFORNSW TAP SY DN 07SEP 5264-***...,transportation,POS
4,1801236322,9347260,2019-09-01,-8.85,LAZADA SINGAPORE SI NG 30AUG 4628-****-****-3836,shopping,MST
63,1801236786,9347264,2019-09-17,-9.15,UMC-S OTWC-KLIA (POC) SE PA 13SEP 5264-****-**...,uncategorized,POS
22,1801236450,9347260,2019-09-06,-9.20,SUBWAY - T2 SI NG 04SEP 4628-****-****-3836,cafes_and_restaurants,MST
13,1801236358,9347260,2019-09-03,-9.75,MCDONALD'S (BJ) SI NG 31AUG 4628-****-****-3836,cafes_and_restaurants,MST
19,1801236438,9347260,2019-09-05,-10.00,FISH & CO SI NG 02SEP 4628-****-****-3836,food_and_dining,MST
10,1801236346,9347260,2019-09-03,-10.06,SHOPEE - SINGAPORE SI NG 30AUG 4628-****-****-...,shopping,MST
35,1801236502,9347260,2019-09-14,-11.03,PAYPAL *OLAAUSTRALI 40 29 12SEP 4628-****-****...,fees_and_charges,MST
44,1801236538,9347260,2019-09-24,-13.80,IKEA - RESTAURANT SI NG 21SEP 4628-****-****-3836,home_supplies,MST
45,1801236542,9347260,2019-09-24,-14.60,NTUC FP-CLEMENTI A SI NG 21SEP 4628-****-****-...,groceries,MST
25,1801236462,9347260,2019-09-07,-16.98,NETFLIX_SG_LOCAL SI NG 05SEP 4628-****-****-3836,television,MST
2,1801236314,9347260,2019-09-01,-20.00,GRAB *DC45B66FBFFD4158 SI NG 30AUG 4628-****-*...,auto_and_transport,MST
14,1801236418,9347260,2019-09-03,-21.98,SHOPEE - SINGAPORE SI NG 30AUG 4628-****-****-...,shopping,MST
21,1801236446,9347260,2019-09-06,-28.00,CIRCLES.LIFE SI NG 05SEP 4628-****-****-3836,phone,MST
62,1801236782,9347264,2019-09-15,-29.69,UMC-S ERAMAN KLIA SE PA 13SEP 5264-****-****-2...,uncategorized,POS
43,1801236534,9347260,2019-09-24,-29.90,IKEA SI NG 21SEP 4628-****-****-3836,home_supplies,MST
42,1801236530,9347260,2019-09-24,-30.82,LAZADA SINGAPORE (PAYM SI NG 21SEP 4628-****-*...,shopping,MST
30,1801236482,9347260,2019-09-10,-37.49,UBER HELP.UBER.COM 80 05 07SEP 4628-****-****-...,taxi,MST
6,1801236330,9347260,2019-09-01,-38.59,TICKETMASTER COM ME LB 29AUG 4628-****-****-38...,entertainment,MST
37,1801236510,9347260,2019-09-19,-44.99,MYREPUBLIC LIMITED SI NG 17SEP 4628-****-****-...,phone,MST
17,1801236430,9347260,2019-09-05,-50.00,GRAB *1373********7021 SI NG 03SEP 4628-4500-3...,auto_and_transport,MST
48,1801236554,9347260,2019-09-25,-50.00,GRAB *1373********7021 SI NG 23SEP 4628-4500-3...,auto_and_transport,MST
1,1801236310,9347260,2019-09-01,-50.00,GRAB *1373********7021 SI NG 30AUG 4628-4500-3...,auto_and_transport,MST
40,1801236522,9347260,2019-09-21,-77.53,SCOOTTFZ9 SI NG 19SEP 4628-****-****-3836 MYR2...,transportation,MST
26,1801236466,9347260,2019-09-07,-81.19,KLOOK TECHNOLOGY SI NG 05SEP 4628-****-****-3836,car_rental,MST
58,1801236766,9347264,2019-09-07,-100.00,TRF 406-02088-6 : I-BANK,transfer,ADV
33,1801236494,9347260,2019-09-13,-304.96,PAYPAL *OSTAY 40 29 11SEP 4628-****-****-3836,fees_and_charges,MST
60,1801236774,9347264,2019-09-10,-409.96,TRF 406-02088-6 : I-BANK,transfer,ADV
61,1801236778,9347264,2019-09-11,-492.29,TRF 406-02088-6 : I-BANK,transfer,ADV
7,1801236334,9347260,2019-09-02,-700.00,"39343836,BRAS BASAH",shopping,AWL
52,1801236570,9347260,2019-09-28,-783.97,FAST / PayNow Transfer PayNow Transfer To: Wil...,transfer,ICT
56,1801236406,9347264,2019-09-03,-4900.80,INV DBS Vickers Securities 8082719 014638061,transfer,ADV

In [16]:
full_df.type.value_counts()

MST      48
ADV       4
POS       3
ITR       3
INT       2
SI        1
ATINT     1
AWL       1
CAM       1
ICT       1
Name: type, dtype: int64

In [25]:
full_df[full_df.type == 'ICT']

,index,id,account_id,duplicated,mode,status,made_on,amount,currency_code,description,category,type,account_balance_snapshot,created_at,updated_at
52,3,1801236570,9347260,False,normal,posted,2019-09-28,-783.97,SGD,FAST / PayNow Transfer PayNow Transfer To: Wil...,transfer,ICT,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z

In [26]:
import pandas as pd
import glob

path = '/home/adityasidharta/git/saltedge_python/data/raw' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [29]:
frame.type.value_counts()

MST      158
POS       25
ITR       24
ADV       15
ICT        7
INT        4
ATINT      3
SI         2
CDM        2
AWL        2
CAM        2
GR         2
CDF        2
ATM        1
D2P        1
Name: type, dtype: int64

In [46]:
frame[frame.description.apply(lambda x : 'PAY' in x)]

,index,id,account_id,duplicated,mode,status,made_on,amount,currency_code,description,category,type,account_balance_snapshot,created_at,updated_at
9,16,1801236366,9347264,False,normal,posted,2019-08-14,-14.35,SGD,UMC-S LAZADA SINGAPORE (PAYM SI NG 10AUG 5264-...,shopping,POS,59.18,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z
14,21,1801236386,9347264,False,normal,posted,2019-08-24,-53.39,SGD,UMC-S LAZADA SINGAPORE (PAYM SI NG 21AUG 5264-...,shopping,POS,59.18,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z
15,22,1801236390,9347264,False,normal,posted,2019-08-29,2974.66,SGD,PAY UCARE.IO PTE. LTD. SALARY PAYMENT,income,GR,59.18,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z
51,83,1801236490,9347260,False,normal,posted,2019-09-13,-6.56,SGD,PAYPAL *OLAAUSTRALI 40 29 11SEP 4628-****-****...,fees_and_charges,MST,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
52,84,1801236494,9347260,False,normal,posted,2019-09-13,-304.96,SGD,PAYPAL *OSTAY 40 29 11SEP 4628-****-****-3836,fees_and_charges,MST,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
53,85,1801236498,9347260,False,normal,posted,2019-09-14,-7.34,SGD,PAYPAL *OLAAUSTRALI 40 29 12SEP 4628-****-****...,fees_and_charges,MST,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
54,86,1801236502,9347260,False,normal,posted,2019-09-14,-11.03,SGD,PAYPAL *OLAAUSTRALI 40 29 12SEP 4628-****-****...,fees_and_charges,MST,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
55,87,1801236506,9347260,False,normal,posted,2019-09-14,-3.61,SGD,PAYPAL *OLAAUSTRALI 40 29 12SEP 4628-****-****...,fees_and_charges,MST,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
57,89,1801236514,9347260,False,normal,posted,2019-09-20,289.35,SGD,PAYPAL *OSTAY 40 29 18SEP 4628-****-****-3836,fees_and_charges,MST,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
61,93,1801236530,9347260,False,normal,posted,2019-09-24,-30.82,SGD,LAZADA SINGAPORE (PAYM SI NG 21SEP 4628-****-*...,shopping,MST,1058.82,2019-10-13T12:19:36Z,2019-10-13T12:19:36Z
88,5,1801235970,9347264,False,normal,posted,2019-07-31,5000.00,SGD,PAY UCARE.IO PTE. LTD. SALARY PAYMENT,income,GR,59.18,2019-10-13T12:19:33Z,2019-10-13T12:19:33Z
140,91,1801236066,9347260,False,normal,posted,2019-08-17,-50.00,SGD,TOP-UP TO PAYLAH! : 84101140,transfer,ITR,1058.82,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z
155,6,1801236126,9347260,False,normal,posted,2019-08-21,-50.00,SGD,TOP-UP TO PAYLAH! : 84101140,transfer,ITR,1058.82,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z
174,25,1801236202,9347260,False,normal,posted,2019-08-26,58.60,SGD,SEND BACK FROM PAYLAH! : 84101140,transfer,ITR,1058.82,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z
195,46,1801236286,9347260,False,normal,posted,2019-08-31,-10.00,SGD,TOP-UP TO PAYLAH! : 84101140,transfer,ITR,1058.82,2019-10-13T12:19:34Z,2019-10-13T12:19:34Z
222,22,1801235718,9347260,False,normal,posted,2019-07-22,-13.74,SGD,TOP-UP TO PAYLAH! : Aditya Sidharta,provider_fee,ITR,1058.82,2019-10-13T12:19:32Z,2019-10-13T12:19:32Z
234,34,1801235766,9347260,False,normal,posted,2019-07-28,-5.38,SGD,TOP-UP TO PAYLAH! : 84101140,transfer,ITR,1058.82,2019-10-13T12:19:32Z,2019-10-13T12:19:32Z
235,35,1801235770,9347260,False,normal,posted,2019-07-28,-17.50,SGD,PAYPAL *HUMBLEBUNDL HU 40 29 26JUL 4628-****-*...,fees_and_charges,MST,1058.82,2019-10-13T12:19:32Z,2019-10-13T12:19:32Z
240,40,1801235790,9347260,False,normal,posted,2019-07-30,-3.00,SGD,TOP-UP TO PAYLAH! : Aditya Sidharta,provider_fee,ITR,1058.82,2019-10-13T12:19:32Z,2019-10-13T12:19:32Z
245,45,1801235810,9347260,False,normal,posted,2019-07-31,105.50,SGD,SEND BACK FROM PAYLAH! : 84101140,transfer,ITR,1058.82,2019-10-13T12:19:32Z,2019-10-13T12:19:32Z